/* poppins fonts from google  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* ------------------------------
      comon utilities
------------------------- */
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{text-decoration: none;}
ul{
    list-style: none;
}
html{
     font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #E5E5E5;
}
.width{
    width: 87rem;
    margin: 0 auto;
}
.flexible-row{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-weight: 500;
    font-size: 2.4rem;
    color: #562EFF;
    margin-bottom: 4rem;
    text-transform: capitalize;
}
/*-------------------------------------
    header section start
 -------------------------------------- */
.header{
    background-color: #562EFF;
    height: 9.4rem;
}
.logo{
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo i{
    font-size: 3rem;
    margin-right: 1.5rem;
}
.logo p{
    color:inherit;
    font-size: 2.4rem;
    line-height:3.6rem;
}
.nav{
    color:#fff;
    font-size: 1.6rem;
}
.list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
 margin-left:3.6rem;
}
.link:link,
.link:visited{
   color:currentColor;
   text-decoration: none;
   position:relative;
}
.link::after{
   content:'';
   position:absolute;
   top:120%;
   left:0;
   width: 100%;
   height: 2px;
   background-color: #fff;
   transform:scale(0);
   transform-origin: right;
   transition:transform .5s linear;
}
.link:hover::after{
    transform:scale(1);
    transform-origin: left;
}
.link img{
    width: 3rem;
    height: 3rem;
}


/*----------------------------------------
      top player start 
-----------------------------------------= */
.top{
   background-color: #fff;
   border-radius: 5px;
   padding: 3.3rem; 
   margin:3rem auto;
}
/*--------------------------------- 
     player section start
-------------------------------------------  */
.players-section{
  margin-bottom: 3rem;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:3rem;
}
.player{
   display: flex;
   align-items: center;
}
.player-img img{
    width:5rem;
    height: 5rem;
}
.player p{
    margin-left: 1.6rem;
    font-size: 1.8rem;
}

/* -------------------------------------
player section end 
---------------------------------------- */
/*--------------------------------------
    blog section start 
---------------------------------------- */
.blog-section{
  padding-top:3rem;
}
.blogs{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-row-gap: 2.6rem;
}
.blog{
  display: flex;
  align-items: center;
}

.blog-img img{
    width:17.7rem;
    height: 11.7rem;
}
.blog-text{
   margin-left: 1.6rem;
}
.lbog-text p{
    font-size: 1.6rem;
    color:#9f9f9f;
}

/*------------------------------- 
     course start 
--------------------------------- */
.course-section{
    background-color: #fff;
    padding:3rem;
}
.courses{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course{
    box-shadow: 1rem 1rem 3rem rgba(0,0,0,0.1);
    padding:1rem;
    border-radius: 5px;
}

.course-img img{
    width: 22.4rem;
    height: 10.4rem;
}
.course-title{
    margin:2rem auto .7rem;
    font-size: 2rem;
}
.author{
  font-size: 1.4rem;
  color:#ED6B4F;
  margin-bottom: 2rem;
}
.course-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.course-rating{
    color: #A2A2A2;
    font-size: 1.4rem;
}
.course-duration{
    background-color: #ddadb2d5;
    color:#FF4A60;
    border-radius: 100px;
    padding:.5rem;
}
.filled{
    color:#FFC014;
}
.grey{
    color:#A2A2A2;
}
/*------------------------------------- 
      course end 
--------------------------------------- */